/* global tweaks */
html {
  scroll-behavior: smooth;
}

#todo,
#upcoming-events,
#home-feed-container,
.profile-picture img {
  border-radius: 5px !important;
}

#site-navigation-breadcrumbs {
  display: none;
}

nav li a,
.my,
.nline-icon,
.large-icon,
.resource-area-links span,
.page-title a,
.app-link span,
.menu a {
  color: #444 !important;
}

.comment-author a,
.long-username a {
  color: #415380 !important;
}

.smartbox-boxtab,
#edge-filters span,
.like-btn,
.ajax-post-comment,
body a {
  color: #496bbe !important;
}

#header header {
  border-top-color: #496bbe !important;
}

footer div div nav {
  display: none !important;
}

/* Feeds */
.filter-block li span:hover {
  text-decoration: underline;
}

.CustomBrandingLogo-vertical-strip-background-color-3_NIE {
  display: none !important;
}

.s-edge-feed-more-link {
  display: flex !important;
  justify-content: space-between !important;
}

.s-edge-feed-more-link {
  width: fit !important;
}

#home-feed-container {
  position: relative;
}

.st-feed-top-link {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.feed-comments {
  background-color: white !important;
}

/* home page tweaks */
.recently-completed-wrapper {
  display: none !important;
}

.sHome-processed {
  margin-top: 0px !important;
}

#right-column-inner {
  padding-top: 15px !important;
}

.sgy-tabbed-navigation {
  display: none !important;
}

/* center icons in submit model */
#resources-left-menu-wrapper a {
  display: flex !important;
  flex-direction: column !important;
  justify-items: center !important;
  align-items: center !important;
}

/* nav countdown */
.countdown {
  display: flex;
  align-items: center;
  justify-items: center;
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
}
.countdown-item span,
.countdown li span {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--sgy-font-default, "Open Sans", sans-serif);
}
.countdown-item .label {
  margin-top: 5px;
  font-weight: 400;
  font-size: 1.4rem;
}
